<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sixdofarm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import sixdofarm urdf file -->
    <xacro:include filename="$(find moveit_setup_assistant)/sixdofarm.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="sixdofarm.ros2_control.xacro" />

    <!-- ros2_control for simulation -->
    <xacro:sixdofarm_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
